<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Category Management</title>
  <link rel="stylesheet" href="/assets/css/categoryManage.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  
</head>
<body>

 

  <div class="container">
    <h1 class="">Category Management</h1>
    <br>
    <br>
    <form action="/admin/addCategory" method="post">
      <div class="input-container">
        <input type="text" id="category-input" placeholder="Enter category" name="name" required>
        <br>
        <br>
        <input type="text" id="description-input" placeholder="Enter description" name="description" required>
        <button id="enter-button" type="submit">Add</button>
      </div> 
    </form>
  

     <br>
     <br>

    <table class="category-table">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Description</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>

       
        
        
        
        <% categories.forEach((category, index) => { %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= category.name %></td>
            <td><%= category.description %></td>
            <td>
              <a href="/admin/editcategory/<%= category._id %>">
                <button class="edit-button">Edit</button>
              </a>
              <br>
            </td>
          </tr>
        <% }) %>
        
      </tbody>
      
    </table>
    
  </div>

  <% if (message) { %>
    <script>
      document.addEventListener('DOMContentLoaded', () => {
        const message = '<%= message %>';
        const icon = message.includes('added') ? 'success' : 'error';
        const title = message.includes('added') ? 'Success' : 'Error';
        Swal.fire({
          icon: icon,
          title: title,
          text: message,
        });
      });
    </script>
  <% } %>


</body>
</html>
