<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Edit Product - Dashboard Admin Template</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:400,700"
    />
    <!-- https://fonts.google.com/specimen/Roboto -->
    <link rel="stylesheet" href="/css/fontawesome.min.css" />
    <!-- https://fontawesome.com/ -->
    <link rel="stylesheet" href="/jquery-ui-datepicker/jquery-ui.min.css" type="text/css" />
    <!-- http://api.jqueryui.com/datepicker/ -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <!-- https://getbootstrap.com/ -->
    <link rel="stylesheet" href="/css/templatemo-style.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!--
	Product Admin CSS Template
	https://templatemo.com/tm-524-product-admin
	-->
  </head>

  <body>
    <nav class="navbar navbar-expand-xl">
      <div class="container h-100">
        <a class="navbar-brand" href="index.html">
          <h1 class="tm-site-title mb-0">Product Manage</h1>
        </a>
        <button class="navbar-toggler ml-auto mr-0" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <i class="fas fa-bars tm-nav-icon"></i>
        </button>
  
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mx-auto h-100">
            <li class="nav-item">
              <a class="nav-link " href="/admin/adminHome">
                Dashboard
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/userManage">
                User Management
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/categoryManage">
                Category Management
              </a>
            </li>
  
            <li class="nav-item">
              <a class="nav-link" href="/admin/productManage">
                Product Management
              </a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <span>
                  More
                </span>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/admin/orderHistory">Order Management</a>
                <a class="dropdown-item" href="/admin/coupons">Coupon Management</a>
                <a class="dropdown-item" href="/admin/ads">Banner Management</a>
              </div>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link d-block" href="/admin/logout">
                <b>Logout</b>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container tm-mt-big tm-mb-big">
      <div class="row">
        <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
          <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
            <div class="row">
              <div class="col-12">
                <h2 class="tm-block-title d-inline-block">Add Product</h2>
              </div>
            </div>
            <div class="row tm-edit-product-row">
              <div class="col-xl-6 col-lg-6 col-md-12">
                <form action="/admin/editProducts/<%= product._id %>" method="post" class="tm-edit-product-form">
                  <div class="form-group mb-3">
                    <label for="name">Product Name
                    </label>
                    <input id="name" name="name" type="text" class="form-control validate"  value=" <%= product.name %>"/>
                  </div>
                  <div class="form-group mb-3">
                    <label for="description">Description</label>
                    <textarea class="form-control validate" id="description" name="description" rows="3"><%= product.description%></textarea>
                  </div>
                  <div class="form-group mb-3">
                    <label for="category">Category</label>
                    <select class="custom-select tm-select-accounts" name="category" id="category">
                      <% catData.forEach(element=> { %>
                        <option selected value="<%= element._id %>">
                          <%= element.name %>
                        </option>
                        <% }); %>
                    </select>
                  </div>
                  <div class="row">
                    <div class="form-group mb-3 col-xs-12 col-sm-6">
                      <label for="brand">Brand
                      </label>
                      <input id="brand" name="brand" type="text" class="form-control validate" value=" <%= product.brand %>"/>
                    </div>
                    <div class="form-group mb-3 col-xs-12 col-sm-6">
                      <label for="stock">Stocks
                      </label>
                      <input id="stock" name="stock" type="number" class="form-control validate"  value="<%= product.stock %>"/>
                    </div>
                    <div class="form-group mb-3 col-xs-12 col-sm-6">
                      <label for="price">Price
                      </label>
                      <input id="price" name="price" type="number" class="form-control validate" value="<%= product.price%>" />
                    </div>
                    <div class="form-group mb-3 col-xs-12 col-sm-6">
                      <label for="offer">Offer</label>
                      <input id="offer" name="offer" type="number" class="form-control validate"/>
                      <br>
                      <p style="color: black;">Current Offer: <%= product.offer %></p>
                    </div>     
                  </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-12 mx-auto mb-4">
                
                <div class="custom-file mt-3 mb-3">
                  <div><img id="imgView" style="width:80px; height: 110px;" src="/uploads/<%=product.image[0] %>" alt=""></div>
                <div><img id="imgView1" style="width:80px; height: 110px;" src="/uploads/<%=product.image[1] %>" alt=""></div>
                <div><img id="imgView2" style="width:80px; height: 110px;" src="/uploads/<%=product.image[2] %>" alt=""></div>
                <div><img id="imgView3" style="width:80px; height: 110px;" src="/uploads/<%=product.image[3] %>" alt=""></div>

                <br>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-whatever="@mdo">Edit Image</button>

              </div>
                </div>
              </div>
              <div class="col-12">
                <button type="submit" class="btn btn-primary btn-block text-uppercase">Update Product Now</button>
              </div>
              <% if(typeof message !== 'undefined'){ %>
                <h5 style="color: rgb(224, 86, 86);">
                  <%= message %>
                </h5>
                <% } %>
              </form>
             
            </div>
          </div>
        </div>
      </div>


        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Product Image</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>



      <div><img id="imgView"   style="width:100px;" src="/uploads/<%=product.image[0] %>" alt=""><a style="background-color: rgb(150, 10, 10); color: azure;" class="btn btn-secondary ml-5"  href="/admin/deleteImage/<%= product._id %>/<%=product.image[0] %>"> Delete</a></div>
      <div><img id="imgView1"  style="width:100px;" src="/uploads/<%=product.image[1] %>" alt=""><a style="background-color: rgb(150, 10, 10); color: azure;"  class="btn btn-secondary ml-5" href="/admin/deleteImage/<%= product._id %>/<%=product.image[1] %>">Delete </a></div>
      <div><img id="imgView2"  style="width:100px;" src="/uploads/<%=product.image[2] %>" alt=""><a style="background-color: rgb(150, 10, 10); color: azure;"  class="btn btn-secondary ml-5" href="/admin/deleteImage/<%= product._id %>/<%=product.image[2] %>">Delete </a></div>
      <div><img id="imgView3"  style="width:100px;" src="/uploads/<%=product.image[3] %>" alt=""><a style="background-color: rgb(150, 10, 10); color: azure;"  class="btn btn-secondary ml-5" href="/admin/deleteImage/<%= product._id %>/<%=product.image[3] %>">Delete </a></div>
          
              <div class="modal-body">
                <div><img id="modalImgView" style="width:100px;" src="" alt=""></div>
                <form action="/admin/editImage/<%=product._id %>" method="post" enctype="multipart/form-data">
                  <div class="form-group">
                    <input type="file" multiple name="image" class="form-control form-control-line" onchange="viewImage(event)">
                  </div>
                  <button type="submit" class="btn btn-primary">Save Changes</button>
                </form>
              </div>
              <div class="modal-footer"></div>
            </div>
          </div>
          </div>
    </div>



    <footer class="tm-footer row tm-mt-small">
        <div class="col-12 font-weight-light">
          <p class="text-center text-white mb-0 px-4 small">
            Copyright &copy; <b>2018</b> All rights reserved. 
            
            Design: <a rel="nofollow noopener" href="https://templatemo.com" class="tm-footer-link">Template Mo</a>
        </p>
        </div>
    </footer> 

    <script src="/js/jquery-3.3.1.min.js"></script>
    <!-- https://jquery.com/download/ -->
    <script src="/jquery-ui-datepicker/jquery-ui.min.js"></script>
    <!-- https://jqueryui.com/download/ -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- https://getbootstrap.com/ -->
    <script>
      $(function() {
        $("#expire_date").datepicker({
          defaultDate: "10/22/2020"
        });
      });
    </script>

<script>
  function viewImage(event) {
    var imgView = document.getElementById('imgView');
    var imgView1 = document.getElementById('imgView1');
    var imgView2 = document.getElementById('imgView2');
    var imgView3 = document.getElementById('imgView3');
    var modalImgView = document.getElementById('modalImgView');
  
    imgView.src = URL.createObjectURL(event.target.files[0]);
    imgView1.src = URL.createObjectURL(event.target.files[1]);
    imgView2.src = URL.createObjectURL(event.target.files[2]);
    imgView3.src = URL.createObjectURL(event.target.files[3]);
    modalImgView.src = URL.createObjectURL(event.target.files[0]);
  }
  </script>


  </body>
</html>
